<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="base">
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                  </button>
        <ion-title>Kulaaz</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <div class="container">
        <ion-list no-lines>
            <ion-list-header class="list-header" text-uppercase color="base">
                sign in
            </ion-list-header>
            <ion-item no-lines>
                <ion-label stacked class="title" id="heading">Email</ion-label>
                <ion-input type="email" class="text-field" [(ngModel)]="email" #mail="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required email></ion-input>
            </ion-item>
            <div class="md-errors-spacer errors" [hidden]="mail.valid || mail.untouched">
                <div *ngIf="mail.errors && mail.errors.required">
                    *Email is required
                </div>
                <div *ngIf="mail.errors && mail.errors.pattern">Email format should be
                    <small><b>joe@abc.com</b></small>
                </div>
            </div>

            <ion-item no-lines>
                <ion-label stacked class="title" id="heading">Password</ion-label>
                <ion-input type="password" class="text-field" [(ngModel)]="password" #pass="ngModel" required password></ion-input>
            </ion-item>
            <div class="md-errors-spacer errors" [hidden]="pass.valid || pass.untouched">
                <div *ngIf="pass.errors && pass.errors.required">
                    *Password is required
                </div>
            </div>

        </ion-list>
        <div class="footer">
            <ion-grid padding>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button block text-uppercase color="base" [disabled]="!pass.valid || !mail.valid " (click)="goToSignIn()">sign in</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button block text-uppercase color="base" (click)="goToSignUp()">sign up</button>
                    </ion-col>
                </ion-row>
                <ion-row class="last-row">
                    <ion-col col-12>
                        <button ion-button block text-uppercase color="base" (click)="goToForgotPassword()">forgot password</button>
                    </ion-col>

                </ion-row>
            </ion-grid>


        </div>
    </div>





</ion-content>